h1, h2 {
    text-align: center;
}

nav {
    display: block;
    text-align: center;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: blue;
}

nav ul {
    list-style-type: none;
    padding-left: 0px;
}

.container {
    border: 3px solid #aa8e4a;
    margin: auto;
    padding: 0px 10px;
    width: 50%;
}

#wrapper {
    margin: auto;
    width: 80%;
    background-color: #F8EFD8;
    border: 5px solid #AA8E4A;
    padding: 0px 5px;
}