h2 {
    text-align: center;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    text-align: center;
}

.current-page {
    background-color: blue;
    color: white !important;
}

.current-page:hover {
    background-color: blue;
    color: white;
}

nav a:visited {
    color: blue;
}

nav a:hover {
    background-color: #ddd;
    color: blue;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 10px 10px;
    margin: 0px 5px;
    font-size: 17px;
}

nav ul {
    list-style-type: none;
    padding-left: 0px;
}

.container {
    border: 3px solid #aa8e4a;
    margin: auto;
    padding: 0px 10px;
    width: 50%;
}

#wrapper {
    margin: auto;
    width: 80%;
    background-color: #F8EFD8;
    border: 5px solid #AA8E4A;
    padding: 0px 5px;
}

header {
    background-color: whitesmoke;
}

.container ul {
    list-style-image: url(icons/key.png);
}